/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: white;
}

.instagram-logo {
  margin: auto;
}

p {
  color:black;
}

.buttons {
  float:left;
  display: inline-block;
}

.frame {
  float: right;
  display: inline-block;
}

.navbar {
  padding: 10px;
  float: left;
  display: inline-block;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
}

.phone {
  float: left;
  display: inline-block;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-color: #1c5380;
  list-style: none;
}

footer{
  display: inline-block;
  margin: 0 auto;
}
