/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: white;
}

.headcolorfade{
  width: 100%;
  height: 300px;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}

main {
  width: 850px;
  position: relative;
  top: -120px
  margin: 0 auto;
  overflow: hidden;
}
.headergrouping {
  height: 30px;
  background: linear-gradient (#1c5380);
  position: static;
}

.instagram-logo {
  position: relative;
  margin: auto;
  float: right;
}

.homebutton {
  background: ##06365f;
  border: 1px solid #1c5380;
  float:right;
  display: inline-block;
  clear: both;
  width: 30px;
  font-size: 14px;
  margin-top: 24px;
  margin-right: 5px;
  padding: 3px;
}

.phones {
  width: 300px;
}

h2 {
  font-size: 24px;
  margin: 1em;
  color: #1c5380;
  float: right;
}

h3 {
  float: right;
  padding: 20px;
  display: inline-block;
}

p {
  color:black;
  margin: 1em;
  float: right;
}

.buttons {
  float:left;
  width: 48%;
}

.frame {
  display: inline-block;
  clear: both;
  float: right;
  width: 500px;
  padding-top: 5px;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
}

.container {
  float: right;
  clear: both;
  width: 400px;
  padding-top: 5px;
  position: relative;
}

.navbar {
  padding: 10px;
  float: left;
  display: inline-block;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
  text-decoration: none;
}

.phone {
  float: left;
  display: inline-block;
}

footer{
  display: inline-block;
  margin: 0 auto;
  clear: both;
  width: 850px;
}

ul {
  display: inline;
  float: left;
  margin-right: 25px;
}

li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-color: #1c5380;
  list-style: none;
  font-size: 12px;
  font-weight: bold;
}
